@media (max-width: 1191px) {
  html {
    font-size: 74.43%;
  }
}

@media (max-width: 768px) {
  html {
    font-size: 48%;
  }

  .hero-section {
    min-height: 80vh;
  }

  .skills-image {
    width: 60px;
    height: 60px;
  }

  .footer-section {
    height: 150px;
  }

  #whatsapp {
    width: 20px;
    height: 20px;
  }

  #linkedin {
    width: 20px;
    height: 20px;
  }

  #twitter {
    width: 20px;
    height: 20px;
  }

  #instagram {
    width: 20px;
    height: 20px;
  }

  .hamburger {
    display: flex;
    margin: 0 auto;
  }

  .header {
    padding: var(--space-7);
  }

  #nav-menu {
    display: none;
    flex-direction: column;
    background: var(--gray-shade);
    position: absolute;
    top: 60px;
    right: 0;
    width: 200px;
    height: 100px;
    padding: var(--space-6) var(--space-5);
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  }

  #nav-menu.active {
    display: flex;
  }
}

.hamburger.open span:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}
.hamburger.open span:nth-child(2) {
  opacity: 0;
}
.hamburger.open span:nth-child(3) {
  transform: rotate(-45deg) translate(5px, -5px);
}

@media (max-width: 480px) {
  html {
    font-size: 30%;
  }

  .header-section {
    min-height: 60px;
  }

  .header {
    padding: var(--space-7);
  }

  .hero-section {
    min-height: 70vh;
  }

  .skills-image {
    width: 50px;
    height: 50px;
  }

  .footer-section {
    height: 100px;
  }

  #whatsapp {
    width: 15px;
    height: 15px;
  }

  #linkedin {
    width: 15px;
    height: 15px;
  }

  #twitter {
    width: 15px;
    height: 15px;
  }

  #instagram {
    width: 15px;
    height: 15px;
  }
}
